<div class="user-search-list-container">
    
    <h1>User Search Results</h1>
    
        <!-- <div id="search-inputs">
            <input type="text" name="email" placeholder="first name here"><br>
        </div>
      
        <div id="search-inputs">
            <input type="text" name="pw" placeholder="last name here"><br>
          </div>
      
          <div id="search-button">
              <a routerLink="/user-search-list">Search</a>
          </div> -->
<div class="user-search-results">



</div>

          <div>
              <a class="button-left">Select</a>
              <a class="button-right" routerLink="/search-users">Back</a>
            
          </div>
    
    </div>
    