

/* Main styles for SPA - component CSS stored in component CSS files */


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #A8A7A8;
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #A8A7A8;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #A8A7A8;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #A8A7A8;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    #A8A7A8;
}

.button-left {
    float: left;
}

.button-right {
    float: right;
}